.item-list{
    display: block;
    width: 500px;
}

  .item-list ul {
    background: #5a6e74;
    padding: 1px;
    list-style: none;
    
  }
  .item-list ul li{
    background: #eef4f8;
    padding: 5px;
    margin-left: 35px;
    text-align: left;
    border-bottom: 1px solid #5a6e74;
  }
  